name: Deploy (Sync to forked Repo)

on:
  push:
    branches: [main]

jobs:
  sync:
    name: Sync forked repo
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.FORKED_REPO_TOKEN }}
          fetch-depth: 0
          ref: main

      - name: Add remote-url
        run: |
          git remote add forked-repo https://jogpfls:${{ secrets.FORKED_REPO_TOKEN }}@github.com/jogpfls/37-COLLABORATION-WEB-NOONNU
          git config user.name "jogpfls"
          git config user.email "joerin4177@gmail.com"

      - name: Push changes to forked-repo
        run: |
          git push -f forked-repo main

      - name: Clean up
        run: |
          git remote remove forked-repo
